.formulario__botao {
    align-self: center;
    background: #0D1117;
    border-radius: 5px;
    color: #ffffff;
    margin-top: 1rem;
    width: 100px;
    height: 50px;
}

.formulario__botao:hover {
    background: #324259;
    cursor: pointer;
    transition: 0.3s;
    transform: scale(1.1);
}